# Python

__pycache__/
*.pyc

# Virtual Environment

.venv/

# Dataset

dataset/
datasets/

# Checkpoints

checkpoints/

*.pt
*.pth
*.ckpt

# Logs

logs/

wandb/

# Notebook

.ipynb_checkpoints/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db

# Cache

.pytest_cache/
.ruff_cache/

# Experiments

outputs/