numpy==1.26.4
pandas

torch
torchvision

opencv-python-headless<4.10

albumentations

matplotlib

rich

loguru

hydra-core

omegaconf

timm

einops

pytest

ruff

black

isort

pre-commit

jupyter

notebook

scikit-learn

scipy

seaborn

retina-face

facenet-pytorch

tf-keras